<a href="https://colab.research.google.com/github/pritam-dante/machineLearning/blob/main/Projects/irisClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
iris_data = pd.read_csv('/content/data.csv',header=None)

In [ ]:
iris_data.head()

     0    1    2    3          4
0  5.9  3.0  5.1  1.8  virginica
1  5.1  3.5  1.4  0.2     setosa
2  4.9  3.0  1.4  0.2     setosa
3  4.7  3.2  1.3  0.2     setosa
4  4.6  3.1  1.5  0.2     setosa

In [ ]:
iris_data.shape

(150, 5)

In [ ]:
iris_data[4].value_counts()

setosa        50
virginica     50
versicolor    50
Name: 4, dtype: int64

In [ ]:
X = iris_data.drop(columns = 4,axis=1)
Y= iris_data[4]

In [ ]:
print(X)
print(Y)

       0    1    2    3
0    5.9  3.0  5.1  1.8
1    5.1  3.5  1.4  0.2
2    4.9  3.0  1.4  0.2
3    4.7  3.2  1.3  0.2
4    4.6  3.1  1.5  0.2
..   ...  ...  ...  ...
145  6.7  3.3  5.7  2.5
146  6.7  3.0  5.2  2.3
147  6.3  2.5  5.0  1.9
148  6.5  3.0  5.2  2.0
149  6.2  3.4  5.4  2.3

[150 rows x 4 columns]
0      virginica
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: 4, Length: 150, dtype: object

In [ ]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size = 0.1,stratify=Y,random_state=1)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(150, 4) (135, 4) (15, 4)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.9703703703703703

In [ ]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  1.0

In [ ]:
input_data = (4.5,2.8,2.1,7.5)

# changing the input_data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

['virginica']