In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
37   94    Male  Average        PG       Yes
10   98  Female     Good        UG       Yes
38   45  Female     Good    School        No
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No

### here gender is nominal categorical data..we have to use oneHotEncoding
### review and education are ordinal data cz we can give values according to them like pg>ug>hs
#### label encoding is done in output column only
## here we have to take gender column out and apply oneHotEnconding and take review and education column and apply ordinal encoding and again join together

### there is a better practice called pipelining

In [4]:
df= df.iloc[:,2:]

In [5]:
df.sample(5)

   review education purchased
3    Good        PG        No
38   Good    School        No
18   Good    School        No
25   Good    School        No
1    Poor        UG        No

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [9]:
X_train.shape, X_test.shape,y_train.shape,y_test.shape

((40, 2), (10, 2), (40,), (10,))

In [10]:
X_train

     review education
32  Average        UG
2      Good        PG
0   Average    School
46     Poor        PG
39     Poor        PG
3      Good        PG
4   Average        UG
37  Average        PG
42     Good        PG
22     Poor        PG
47     Good        PG
21  Average        PG
48     Good        UG
27     Poor        PG
28     Poor    School
36     Good        UG
34  Average    School
8   Average        UG
40     Good    School
23     Good    School
31     Poor    School
26     Poor        PG
13  Average    School
6      Good    School
43     Poor        PG
15     Poor        UG
35     Poor    School
1      Poor        UG
49     Good        UG
17     Poor        UG
14     Poor        PG
41     Good        PG
44  Average        UG
25     Good    School
29  Average        UG
19     Poor        PG
24  Average        PG
30  Average        UG
20  Average    School
45     Poor        PG

In [21]:
from sklearn.preprocessing import OrdinalEncoder

In [22]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
# least to more...school<ug<pg

In [23]:
oe.fit(X_train)
#train the training model and test both training and test model

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [26]:
X_train = oe.transform(X_train)

In [27]:
X_train

array([[1., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [1., 2.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [2., 1.],
       [1., 0.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [0., 2.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [0., 2.]])

In [28]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [29]:
# label encoder
from sklearn.preprocessing import LabelEncoder

In [30]:
le = LabelEncoder()

In [35]:
le.fit(y_train)
# always fit the output column with label encoder

LabelEncoder()

In [36]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [37]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [38]:
y_train

array([1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1])