In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('titanic.csv')

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [6]:
df.sample(4)

     Survived  Pclass   Sex   Age  SibSp  Parch   Fare Embarked
699         0       3  male  42.0      0      0   7.65        S
160         0       3  male  44.0      0      1  16.10        S
818         0       3  male  43.0      0      0   6.45        S
221         0       2  male  27.0      0      0  13.00        S

In [7]:
# step! --> TrainTestSplit
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=0.2,random_state=2)

In [10]:
y_train.head()

30     0
10     1
873    0
182    0
876    0
Name: Survived, dtype: int64

In [11]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [17]:
# Applying imputation
si_age = SimpleImputer() #default strategy = mean
si_embarked = SimpleImputer(strategy='most_frequent')

X_train_age = si_age.fit_transform(X_train[['Age']])
X_train_embarked = si_embarked.fit_transform(X_train[['Embarked']])

X_test_age = si_age.transform(X_test[['Age']])
X_test_embarked = si_embarked.transform(X_test[['Embarked']])

In [14]:
X_train_age

array([[40.        ],
       [ 4.        ],
       [47.        ],
       [ 9.        ],
       [20.        ],
       [30.        ],
       [30.        ],
       [13.        ],
       [36.        ],
       [29.78590426],
       [31.        ],
       [38.        ],
       [18.        ],
       [29.78590426],
       [25.        ],
       [37.        ],
       [18.        ],
       [35.        ],
       [46.        ],
       [70.5       ],
       [48.        ],
       [48.        ],
       [24.        ],
       [56.        ],
       [54.        ],
       [29.78590426],
       [16.        ],
       [34.        ],
       [29.78590426],
       [43.        ],
       [ 2.        ],
       [50.        ],
       [60.        ],
       [41.        ],
       [ 3.        ],
       [39.        ],
       [33.        ],
       [29.78590426],
       [29.78590426],
       [37.        ],
       [42.        ],
       [19.        ],
       [16.        ],
       [29.78590426],
       [24.        ],
       [45.        ],
       [29.        ],
       [35.        ],
       [29.78590426],
       [30.        ],
       [17.        ],
       [14.5       ],
       [27.        ],
       [57.        ],
       [42.        ],
       [19.        ],
       [31.        ],
       [30.        ],
       [30.        ],
       [59.        ],
       [24.        ],
       [39.        ],
       [23.        ],
       [27.        ],
       [35.        ],
       [23.        ],
       [21.        ],
       [26.        ],
       [24.        ],
       [36.        ],
       [31.        ],
       [29.78590426],
       [20.        ],
       [ 7.        ],
       [30.        ],
       [30.        ],
       [29.78590426],
       [43.        ],
       [45.        ],
       [38.        ],
       [24.        ],
       [29.78590426],
       [29.78590426],
       [19.        ],
       [30.        ],
       [31.        ],
       [44.        ],
       [29.78590426],
       [31.        ],
       [29.78590426],
       [24.        ],
       [19.        ],
       [35.        ],
       [21.        ],
       [48.        ],
       [29.78590426],
       [41.        ],
       [29.78590426],
       [26.        ],
       [29.78590426],
       [29.78590426],
       [18.        ],
       [34.        ],
       [30.        ],
       [40.        ],
       [21.        ],
       [29.78590426],
       [30.        ],
       [29.78590426],
       [30.        ],
       [29.78590426],
       [25.        ],
       [ 5.        ],
       [35.        ],
       [ 2.        ],
       [24.        ],
       [21.        ],
       [29.78590426],
       [29.78590426],
       [22.        ],
       [31.        ],
       [ 4.        ],
       [19.        ],
       [29.78590426],
       [39.        ],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [32.        ],
       [36.        ],
       [45.5       ],
       [29.78590426],
       [29.78590426],
       [28.        ],
       [16.        ],
       [29.78590426],
       [42.        ],
       [50.        ],
       [32.        ],
       [36.        ],
       [35.        ],
       [36.        ],
       [33.        ],
       [36.        ],
       [28.        ],
       [65.        ],
       [27.        ],
       [47.        ],
       [31.        ],
       [32.        ],
       [30.        ],
       [20.        ],
       [29.78590426],
       [22.        ],
       [41.        ],
       [32.        ],
       [28.5       ],
       [33.        ],
       [20.        ],
       [22.        ],
       [40.5       ],
       [21.        ],
       [24.        ],
       [ 3.        ],
       [39.        ],
       [27.        ],
       [29.78590426],
       [ 4.        ],
       [39.        ],
       [60.        ],
       [29.78590426],
       [58.        ],
       [36.        ],
       [45.        ],
       [32.5       ],
       [20.        ],
       [29.78590426],
       [40.        ],
       [ 4.        ],
       [36.        ],
       [29.        ],
       [34.        ],
       [45.        ],
       [31.        ],
       [49.        ],
       [11.        ],
       [25.        ],
       [29.78590426],
       [25.        ],
       [51.        ],
       [49.        ],
       [24.        ],
       [30.        ],
       [22.        ],
       [39.        ],
       [45.        ],
       [ 9.        ],
       [32.        ],
       [29.78590426],
       [39.        ],
       [32.        ],
       [ 2.        ],
       [20.        ],
       [43.        ],
       [26.        ],
       [29.        ],
       [34.        ],
       [16.        ],
       [18.        ],
       [54.        ],
       [ 1.        ],
       [29.        ],
       [44.        ],
       [19.        ],
       [29.78590426],
       [29.78590426],
       [28.        ],
       [42.        ],
       [17.        ],
       [29.78590426],
       [47.        ],
       [20.        ],
       [29.        ],
       [29.78590426],
       [29.78590426],
       [30.        ],
       [49.        ],
       [27.        ],
       [32.        ],
       [27.        ],
       [16.        ],
       [33.        ],
       [25.        ],
       [ 2.        ],
       [29.78590426],
       [23.        ],
       [36.        ],
       [29.78590426],
       [29.78590426],
       [30.        ],
       [33.        ],
       [45.        ],
       [23.        ],
       [47.        ],
       [30.        ],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [22.        ],
       [29.78590426],
       [32.        ],
       [ 0.75      ],
       [29.78590426],
       [16.        ],
       [52.        ],
       [29.78590426],
       [33.        ],
       [24.        ],
       [29.78590426],
       [29.78590426],
       [29.        ],
       [45.        ],
       [25.        ],
       [29.78590426],
       [29.78590426],
       [38.        ],
       [29.78590426],
       [34.5       ],
       [ 8.        ],
       [24.        ],
       [24.        ],
       [28.        ],
       [29.78590426],
       [19.        ],
       [51.        ],
       [27.        ],
       [40.        ],
       [59.        ],
       [ 9.        ],
       [42.        ],
       [14.        ],
       [ 1.        ],
       [28.        ],
       [58.        ],
       [29.78590426],
       [15.        ],
       [34.        ],
       [36.        ],
       [28.        ],
       [21.        ],
       [28.        ],
       [38.        ],
       [20.        ],
       [31.        ],
       [29.78590426],
       [27.        ],
       [29.        ],
       [23.        ],
       [51.        ],
       [29.78590426],
       [40.        ],
       [29.78590426],
       [29.78590426],
       [53.        ],
       [ 1.        ],
       [51.        ],
       [25.        ],
       [29.78590426],
       [29.        ],
       [32.        ],
       [26.        ],
       [15.        ],
       [25.        ],
       [24.        ],
       [29.78590426],
       [29.78590426],
       [48.        ],
       [24.        ],
       [32.        ],
       [17.        ],
       [25.        ],
       [29.78590426],
       [ 9.        ],
       [29.78590426],
       [29.78590426],
       [ 2.        ],
       [50.        ],
       [54.        ],
       [26.        ],
       [14.        ],
       [22.        ],
       [27.        ],
       [24.        ],
       [ 0.83      ],
       [ 2.        ],
       [19.        ],
       [65.        ],
       [56.        ],
       [16.        ],
       [35.        ],
       [24.        ],
       [18.        ],
       [37.        ],
       [21.        ],
       [29.78590426],
       [34.        ],
       [45.5       ],
       [ 2.        ],
       [24.        ],
       [22.        ],
       [42.        ],
       [33.        ],
       [24.        ],
       [32.        ],
       [32.        ],
       [33.        ],
       [17.        ],
       [21.        ],
       [24.        ],
       [20.        ],
       [28.        ],
       [48.        ],
       [19.        ],
       [22.        ],
       [14.        ],
       [29.78590426],
       [25.        ],
       [42.        ],
       [25.        ],
       [ 9.        ],
       [35.        ],
       [19.        ],
       [29.78590426],
       [ 8.        ],
       [29.78590426],
       [31.        ],
       [43.        ],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [24.        ],
       [29.78590426],
       [29.78590426],
       [ 4.        ],
       [19.        ],
       [29.78590426],
       [22.        ],
       [18.        ],
       [22.        ],
       [ 9.        ],
       [17.        ],
       [21.        ],
       [52.        ],
       [31.        ],
       [21.        ],
       [23.        ],
       [44.        ],
       [17.        ],
       [ 5.        ],
       [26.        ],
       [50.        ],
       [22.        ],
       [46.        ],
       [61.        ],
       [41.        ],
       [62.        ],
       [29.78590426],
       [29.78590426],
       [24.        ],
       [35.        ],
       [29.78590426],
       [29.78590426],
       [35.        ],
       [26.        ],
       [29.78590426],
       [31.        ],
       [23.        ],
       [34.        ],
       [54.        ],
       [19.        ],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [27.        ],
       [30.5       ],
       [23.        ],
       [49.        ],
       [28.        ],
       [29.78590426],
       [39.        ],
       [36.        ],
       [38.        ],
       [29.78590426],
       [29.78590426],
       [18.        ],
       [19.        ],
       [29.78590426],
       [58.        ],
       [29.78590426],
       [37.        ],
       [29.78590426],
       [ 0.75      ],
       [24.        ],
       [18.        ],
       [28.5       ],
       [66.        ],
       [ 8.        ],
       [10.        ],
       [16.        ],
       [47.        ],
       [45.        ],
       [22.        ],
       [44.        ],
       [46.        ],
       [24.        ],
       [41.        ],
       [29.78590426],
       [33.        ],
       [32.        ],
       [14.        ],
       [17.        ],
       [21.        ],
       [29.78590426],
       [ 9.        ],
       [34.        ],
       [37.        ],
       [43.        ],
       [ 5.        ],
       [28.        ],
       [24.        ],
       [30.        ],
       [21.        ],
       [29.        ],
       [16.        ],
       [47.        ],
       [14.        ],
       [29.78590426],
       [29.78590426],
       [31.        ],
       [36.        ],
       [52.        ],
       [29.78590426],
       [29.78590426],
       [29.78590426],
       [36.        ],
       [29.78590426],
       [54.        ],
       [45.        ],
       [29.78590426],
       [40.5       ],
       [29.78590426],
       [27.        ],
       [29.78590426],
       [29.78590426],
       [19.        ],
       [61.        ],
       [36.        ],
       [16.        ],
       [29.78590426],
       [42.        ],
       [38.        ],
       [29.        ],
       [ 3.        ],
       [ 7.        ],
       [30.        ],
       [27.        ],
       [21.        ],
       [25.        ],
       [16.        ],
       [42.        ],
       [62.        ],
       [ 4.        ],
       [26.        ],
       [29.78590426],
       [29.78590426],
       [45.        ],
       [30.        ],
       [29.78590426],
       [42.        ],
       [14.        ],
       [29.78590426],
       [29.78590426],
       [11.        ],
       [27.        ],
       [33.        ],
       [29.78590426],
       [29.78590426],
       [26.        ],
       [29.78590426],
       [28.        ],
       [21.        ],
       [32.        ],
       [32.5       ],
       [ 4.        ],
       [16.        ],
       [29.        ],
       [29.        ],
       [23.        ],
       [18.        ],
       [29.78590426],
       [18.        ],
       [29.78590426],
       [18.        ],
       [27.        ],
       [26.        ],
       [27.        ],
       [23.        ],
       [29.78590426],
       [ 3.        ],
       [26.        ],
       [ 4.        ],
       [25.        ],
       [34.        ],
       [50.        ],
       [29.78590426],
       [34.        ],
       [29.78590426],
       [ 0.67      ],
       [22.        ],
       [35.        ],
       [21.        ],
       [29.78590426],
       [29.78590426],
       [23.5       ],
       [18.        ],
       [58.        ],
       [38.        ],
       [30.        ],
       [29.78590426],
       [56.        ],
       [56.        ],
       [29.78590426],
       [28.        ],
       [20.        ],
       [28.        ],
       [ 4.        ],
       [35.        ],
       [44.        ],
       [25.        ],
       [29.78590426],
       [16.        ],
       [22.        ],
       [22.        ],
       [20.        ],
       [15.        ],
       [45.        ],
       [51.        ],
       [36.5       ],
       [ 6.        ],
       [29.78590426],
       [34.        ],
       [40.        ],
       [24.        ],
       [11.        ],
       [52.        ],
       [61.        ],
       [18.        ],
       [ 6.        ],
       [29.        ],
       [ 3.        ],
       [40.        ],
       [28.        ],
       [39.        ],
       [48.        ],
       [63.        ],
       [32.        ],
       [36.        ],
       [39.        ],
       [52.        ],
       [40.        ],
       [29.78590426],
       [12.        ],
       [ 0.42      ],
       [38.        ],
       [29.        ],
       [29.78590426],
       [29.78590426],
       [18.        ],
       [25.        ],
       [21.        ],
       [29.78590426],
       [ 9.        ],
       [16.        ],
       [34.        ],
       [23.        ],
       [24.        ],
       [28.        ],
       [39.        ],
       [16.        ],
       [29.78590426],
       [22.        ],
       [25.        ],
       [29.78590426],
       [34.        ],
       [62.        ],
       [71.        ],
       [28.        ],
       [13.        ],
       [22.        ],
       [16.        ],
       [60.        ],
       [29.78590426],
       [18.        ],
       [23.        ],
       [29.78590426],
       [26.        ],
       [33.        ],
       [28.        ],
       [18.        ],
       [70.        ],
       [25.        ],
       [33.        ],
       [29.78590426],
       [50.        ],
       [29.78590426],
       [18.        ],
       [40.        ],
       [26.        ],
       [40.        ],
       [33.        ],
       [47.        ],
       [ 7.        ],
       [19.        ],
       [29.78590426],
       [47.        ],
       [36.        ],
       [29.78590426],
       [29.78590426],
       [35.        ],
       [29.78590426],
       [29.78590426],
       [19.        ],
       [22.        ],
       [23.        ],
       [36.        ],
       [22.        ],
       [29.        ],
       [62.        ],
       [64.        ],
       [17.        ],
       [29.78590426],
       [21.        ],
       [57.        ],
       [21.        ],
       [58.        ],
       [36.        ],
       [31.        ],
       [26.        ],
       [54.        ],
       [20.        ],
       [29.        ],
       [22.        ],
       [ 0.83      ],
       [29.78590426],
       [20.        ],
       [60.        ],
       [27.        ],
       [17.        ],
       [29.78590426],
       [40.        ],
       [40.        ],
       [25.        ],
       [29.78590426],
       [50.        ],
       [30.        ],
       [29.78590426],
       [71.        ],
       [29.78590426],
       [29.78590426]])

In [16]:
df.sample()

     Survived  Pclass   Sex   Age  SibSp  Parch     Fare Embarked
620         0       3  male  27.0      1      0  14.4542        C

In [18]:
# one hot Encoding Sex and Embarked
ohe_sex = OneHotEncoder(sparse=False,handle_unknown='ignore')
ohe_embarked = OneHotEncoder(sparse=False,handle_unknown='ignore')

X_train_sex = ohe_sex.fit_transform(X_train[['Sex']])
X_train_embarked = ohe_embarked.fit_transform(X_train_embarked)

X_test_sex = ohe_sex.transform(X_test[['Sex']])
X_test_embarked = ohe_embarked.transform(X_test_embarked)

In [22]:
X_train_embarked
#3 because 3 embarked categories

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [21]:
X_train_sex
#for male and female

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [23]:
X_train.head(2)

    Pclass     Sex   Age  SibSp  Parch     Fare Embarked
30       1    male  40.0      0      0  27.7208        C
10       3  female   4.0      1      1  16.7000        S

In [24]:
X_train_rem = X_train.drop(columns=['Sex','Age','Embarked'])

In [25]:
X_test_rem = X_test.drop(columns=['Sex','Age','Embarked'])

In [26]:
X_train_transformed = np.concatenate((X_train_rem,X_train_age,X_train_embarked,X_train_sex),axis =1)
X_test_transformed = np.concatenate((X_test_rem,X_test_age,X_test_embarked,X_test_sex),axis=1)

In [27]:
X_train_transformed.shape

(712, 10)

In [30]:
X_train_transformed

array([[1., 0., 0., ..., 0., 0., 1.],
       [3., 1., 1., ..., 1., 1., 0.],
       [3., 0., 0., ..., 1., 0., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 1., 0., 1.]])

In [31]:
clf = DecisionTreeClassifier()
clf.fit(X_train_transformed,y_train)

DecisionTreeClassifier()

In [32]:
y_pred = clf.predict(X_test_transformed)

In [33]:
y_pred

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1])

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.770949720670391

In [35]:
import pickle

In [39]:
pickle.dump(ohe_sex,open('models/ohe_sex.pkl','wb'))
pickle.dump(ohe_embarked,open('models/ohe_embarked.pkl','wb'))
pickle.dump(clf,open('models/clf.pkl','wb'))